<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Add User</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous">
		<link rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
			integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
			crossorigin="anonymous">
		<link rel="stylesheet" href="../css/shards.min.css">
	</head>	
	<body>
		<form action="#" th:action="@{/add}" th:object="${user}" method="post">
			<p>name:
			<input type="text" id="name" th:field="*{name}">
			</p>
			
			<p>email:
			<input type="text" id="email" th:field="*{email}">
			</p>
			
			<p>date:
			<input type="date" id="date" th:field="*{email}">
			</p>
			
			<div>
				<select th:field="*{gender}">
					<option th:each="select : ${genders}" th:value="${select}" th:text="${select}">
					selectOption
					</option>
				</select>
			</div>
			
			<div>
				<select th:field="*{type}">
					<option th:each="select : ${types}" th:value="${select}" th:text="${select}">
					selectOption
					</option>
				</select>
			</div>
			
			<button type="submit">Submit</button>
		</form>
	</body>
</html>